.task {
	margin: 1px;
	padding: 2px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	border-collapse: collapse;
}

.person {
	padding-left: 5px;
	padding-right: 5px;
}

.taskselector {
	float: right;
}

.userslist {
	background-color: #e9e3f9;
}

.userssublist {
	background-color: #cff7b2;
}
