.vertical-align {
	display: flex;
	align-items: center;
}

.col-centered {
	text-align: center;
}

.person-img {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.person-box {
	margin-bottom: 0px;
}

.row-timeline {
	margin-bottom: 3px;
}

.row-timeline {
	margin-bottom: 3px;
	display: flex;
	align-items: center;
}

.date-input {
	margin-bottom: 10px;
	margin-top: 10px;
}

.center {
	padding-left: 0;
	padding-right: 0;
}

.datelabel {
	text-align: center;
}

.task {
	margin-bottom: 0px;
	padding: 2px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	border-collapse: collapse;
}

.dailyreport {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.btn-workme {
	float: right;
}

.person-items {
	width: 100%;
}

.btn-xs {
	padding: .2rem .3rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}

.person-bar {
	background-color: #c1dcf9eb;
}
