#summary {
	width: 100%;
	margin-bottom: 5px;
}

.toolbar {
	margin-left: 0;
	margin-right: 0;
	background-color: #d9edf7;
}

.btn-right-align {
	float: right;
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
