/.vs/TR_SOURCE/v15/*
/.vs/taskmanager/v15
/UTest/bin/Debug/*
/UTest/obj/Debug/*
/bin/GitHelper.dll
/bin/GitHelper.pdb
# Ignore NuGet Packages
*.nupkg
/UTest/obj/Release
/bin/roslyn
/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll.refresh
/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/App_Data/PublishProfiles/sirius beta beta.pubxml
/.vs/taskmanager/v16
/.vs/taskmanager/config
