#maintbl > tbody > tr > td {
	padding: 0px;
	border: 1px solid black;
}

#maintbl > thead > tr > td {
	padding: 0px;
	border: 2px solid black;
	text-align: center;
	font-weight: bold;
}

	#maintbl > thead > tr > td:nth-child(1) {
		width: 10%;
	}

	#maintbl > thead > tr > td:nth-child(1n+3) {
		width: 30%;
	}

#maintbl > thead > tr > td {
	padding: 0px;
	border: 2px solid black;
}

.user {
	cursor: pointer;
}

#maintbl {
	width: 100%;
}

.vacation {
	background-color: red;
}

mark {
	background-color: transparent;
	color: blue;
	cursor: pointer;
}
