@media print {
	.navbar {
		display: block;
	}

	.navbar-toggle {
		display: block;
	}
}

#maintbl > tbody > tr > td {
	padding: 0px;
	border: 1px solid #B0B0B0;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
	padding: 0px;
}

.day {
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

.month {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: yellow;
	font-size: 12pt;
}

.weekend {
	background-color: #a9f5f2;
}

.vacnorm {
	background-color: red;
}

.vacsick {
	background-color: green;
}

.vacunp {
	background-color: yellow;
}

.workday {
	background-color: white;
}

.iddisp1 {
	border: 1px solid black;
}

.iddisp4:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 10% 10% 0;
	border-style: solid;
	border-color: red red;
}

.tt {
	border: 1px solid black;
}

.iddisp10:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 10% 10% 0;
	border-style: solid;
	border-color: yellow yellow;
}

.iddisp14:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 10% 10% 0;
	border-style: solid;
	border-color: burlywood burlywood;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes undoneframes {
	from {
		background-color: red;
		color: white;
	}

	to {
		background-color: white;
		color: red;
	}
}

/* Standard syntax */
@keyframes undoneframes {
	from {
		background-color: red;
		color: white;
	}

	to {
		background-color: white;
		color: red;
	}
}

.undone {
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
	background-color: red;
	color: white;
	-webkit-animation: undoneframes 2s infinite; /* Chrome, Safari, Opera */
	animation: undoneframes 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.filtered {
	/*	animation: pulse 1s ease infinite;*/
	-moz-border-image: url(../images/runbord.gif) 1 1 round;
	-webkit-border-image: url(../images/runbord.gif) 1 1 round;
	border-width: 3px;
}

.user {
	cursor: pointer;
	width: 150px;
}

.online {
	background-color: greenyellow;
}

.workdayused {
	background-image: url(../IMAGES/tools.png);
	background-repeat: no-repeat;
	background-position: center;
}
