table td, table th, table tr {
	padding: 0px;
}

td {
	white-space: nowrap;
	height: 20px;
}

.row2 {
	height: 20px;
}

table {
	border-collapse: collapse;
}

.box {
	width: 20px;
	height: 20px;
}

.work {
	background-color: LightGrey;
	cursor:pointer;
}

.empty {
	background-color: white;
	cursor:pointer;
}

.weekend {
	background-color: #A9F5F2;
	cursor:pointer;
}

.unpaid {
	background-color: yellow;
	cursor:pointer;
}

.sick {
	background-color: green;
	cursor:pointer;
}

.problem {
	background-color: blue;
	cursor:pointer;
}

.vacation {
	background-color: red;
	cursor:pointer;
}

.vacationlight {
	background-color: #ff4040;
}

.sicklight {
	background-color: #009900;
}

.today {
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.mhead {
	background-color: yellow;
	border-style: None;
}

.mheadl {
	border-left: 1px solid;
}

.mheadr {
	border-right: 1px solid;
}

#SLegend td {
	width: 100px;
	text-align: center;
}

#SLegend, #syear {
	display: inline-block;
}
